<section id="content">
    <form action="">
        <h1>{{loginModeText}}</h1>
        <div>
            <input type="text" placeholder="email" required="" id="username" />
        </div>
        <div>
            <input type="password" placeholder="Password" required="" id="password" [hidden]="loginMode == 2" />
        </div>
        <div>
            <input type="password" placeholder="Password confirm" required="" id="passwordConfirm" [hidden]="loginMode != 1" />
        </div>
        <div>
            <input type="submit" value="Log in"/>
            <a href="#" (click)="onLoginMode(0)" [hidden]="loginMode == 0">Login</a>
            <a href="#" (click)="onLoginMode(2)" [hidden]="loginMode == 2">Lost your password?</a>
            <a href="#" (click)="onLoginMode(1)" [hidden]="loginMode == 1">Register</a>
        </div>
    </form><!-- form -->
</section><!-- content -->