﻿
<script src="~/RuntimeScripts/Libraries/core-js/client/shim.min.js"></script>
<script src="~/RuntimeScripts/Libraries/zone.js/dist/zone.js"></script>
<script src="~/RuntimeScripts/Libraries/reflect-metadata/Reflect.js"></script>
<script src="~/RuntimeScripts/Libraries/systemjs/dist/system.src.js"></script>

<!-- 2. Configure SystemJS -->
<script src="/systemjs.config.js"></script>

    <script type="text/javascript">
        System.import('/RuntimeScripts/boot').catch(function (err) { console.error(err); });
    </script>
<ph-app></ph-app>